::-webkit-scrollbar-track {
  background: #020126;
}

::-webkit-scrollbar-thumb {
  background: #f5a425;
}

::-webkit-scrollbar-thumb:hover {
  background: #fc9f0a;
}
html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}
nav {
    
    background-color: #162239F2;
    color: white;
    width: 100%;
   
    align-items: center;
    padding-top: 10px;
    top: -10px;
    position: fixed;
    transition: top 0.3s;
    z-index: 12;
    display: flexbox;
    flex-wrap: wrap;
  }
  
  nav ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: fit-content;
    right: 2%;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    font-weight: 550;
  }
  
  
  nav li:hover{
    color: #f5a425;
  }

nav p {

    width: fit-content;
    margin: 0;
    display: inline;
}

.home {
    resize: horizontal;
    background-size: cover;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight:600;
    font-size: 80px;
    transform: translate(-50%,-50%);
    color: #fff;
   
}

.discoverbutton {
  background-color: #f5a425;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}
video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  filter: brightness(30%);
}

.tagline{
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.title{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 150px;
}

.homescreen{
  height: fit-content;
}
.about {
  background-image: url(./assets/about-bg.jpg);
  background-color: #172238;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding: 10px;
  padding-top: 30px;

}

.introhead{
  color: white;
  text-align: center;
  font-size: 40px;
  width: 902px;

}
.introduction{
  color: white;
  font-size: 29px;
}

.intropara{
  color: white;
  font-size: 20px;
  width: 902px;
}
.intro {
  
  margin-left: 20%;
  margin-bottom: 40px;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-demo .item {
  background: #f5a425;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
}
.home-demo h2 {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  margin: 0;
  font-weight: 600;
}

.home-demo p {
padding : 10px;
text-align: left;
}

.achievements{
  background-image: url("./assets/achievements-bg.png");
}

.btn-read-more {
  background-color: #f5a425;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    float: right;
    z-index: 3;
    margin-top: -8vh;
    margin-right: 2vw;
}

.ahmt {
  float:right; width: 40vw; margin-right: 15vw;
}

.moreachievements {
  background-color: #02000c;
  display: none;
  
}

.placements{
  background-image: url("./assets/placements-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.placements h1 {
  color:#fff; 
  text-align:center;
  font-size:50px;
  padding-top: 20px;
}
.pc-demo{
  margin-top: 10vh;
}

.contact {
  background-color: #02030f;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact h1 {
  color:#fff; 
  text-align:center;
  font-size:50px;
  padding-top: 20px;
}

.contact label {
  color : #fff
}

.contact input {
  
    width: 40vw;
    border-color: #9595954D;
    border-radius: 6px;
    padding: 6px;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 10px;
 }

.submit-btn{
  background-color: #f5a425;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  z-index: 3
}

@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .homescreen, .home, .tagline, .title, .introhead, .introduction, .intropara, .home-demo, .achievements {
    width: 100%; 
    height:fit-content
  }
  .ahmt {
    float: left;
    width: 70vw;
    margin-left: 10vw;
  }
  .logo {
    display: none;
  }
}


